<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="">
function func(arg){
	//alert(arg);
    let result = confirm("정말 삭제할까요?");
    if(result){
        document.getElementById(arg).submit();
    }
}
</script>
</head>
<body>
** 상품 정보 **<p/>
<div style="width: 80%; text-align: right;">
    <a href="/sangpum/insert">상품 추가</a>
</div>
<br>
<table border="1" style="width: 80%">
  <tr style="background-color:cyan">
     <th>코드</th><th>상품명</th><th>수량</th><th>단가</th><th>기타</th>
  </tr>
  {% if sangpums %}
  {% for s in sangpums%}
  <tr>
  <!-- select 문의 결과를 출력할때는 (1, '장갑', 3, 10000) 튜플이라 0123을 적는다 -->
    <td>{{s.code}}</td> <!-- {{s.0}} -->
    <td>{{s.sang}}</td>
    <td>{{s.su}}</td>
    <td>{{s.dan}}</td>
    <td>
       <a href="/sangpum/update?code={{s.code}}">수정</a> /
       <!-- 
       <a href="/sangpum/delete?code={{s.code}}">삭제</a>
       -->
       <form action="/sangpum/delete" name="frm" method="get" id="{{s.code}}" style="display: inline">
         <input type="hidden" name="code" value="{{s.code}}">
         <a href="javascript:void(0); onclick=func({{s.code}})">삭제</a>
       </form>
    </td>
  </tr>
  {% endfor %}
  
  <!-- 페이징 처리 -->
  <tr>
     <td colspan="5">
     {% if sangpums.paginator.num_pages > 1 %}
         <div>
         {% if sangpums.has_previous %}
             <a href="/sangpum/list?page={{sangpums.previous_page_number}}">&laquo;이전</a>
         {% endif %}
         {% if sangpums.has_next %}
             <a href="/sangpum/list?page={{sangpums.next_page_number}}">다음&raquo;</a>
         {% endif %}
         &nbsp;&nbsp;
         (페이지:{{sangpums.number}} / {{sangpums.paginator.num_pages}})
         <hr>
         {% for p in allpage %}
           {% if p > 0 %}
             {% if p == sangpums.number %} <!-- 현재 페이지는 링크에서 제외 -->
                 {{p}}
           {% else %}
               <a href="/sangpum/list?page={{p}}">{{p}}</a>
           {% endif %}
          {% endif %}
         {% endfor %}
         </div>
     {% endif %}
     </td>
  </tr>
  
  {% else %}
  <tr>
     <td colspan="5">자료 없음</td>
  </tr>
  {% endif %}
</table>
</body>
</html>