<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/static/css/test.css">
<!--
<script type="text/javascript">
window.onload = function(){
	alert("자바스크립트 성공");
}
</script>
-->

<script type="" src=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    //alert("자바스크립트 jquery 성공");
    $(#myImg).click(function(){
        abcFunc();
    });
});
</script>

</head>
<body>
<h2>hello 요청에 대한 반응 문서</h2>
<img src="/static/images/sajin.jpg" id="myImg "/>
</body>
</html>